body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #A9A9A9;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #77C3EC;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 1.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 1.2em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.8s;
}

button:hover {
    background-color: #E0B0FF;
}
